._recipe__btn:hover{
	border: none;
	transition: 0.4s;
	opacity: 0.5;
}

.swiper-button-next:hover{
	transition: 0.4s;
	opacity: 0.5;
	width: 180px;
}
._recipe__btn:hover{
	border: none;
	transition: 0.4s;
	opacity: 0.5;
}

.swiper-button-next:hover{
	transition: 0.4s;
	opacity: 0.5;
	width: 180px;
}

.swiper-button-prev:hover{
	transition: 0.4s;
	opacity: 0.5;
	width: 180px;
}

._recipeAll__btn:hover{
	border: none;
	transition: 0.4s;
	opacity: 0.5;
}

._nav_menu__close:hover{
-moz-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-o-transform:rotate(180deg);
-ms-transform:rotate(180deg);
transform:rotate(180deg);
	transition: 0.4s;
}._recipe__btn:hover{
	border: none;
	transition: 0.4s;
	opacity: 0.5;
}

.swiper-button-next:hover{
	transition: 0.4s;
	opacity: 0.5;
	width: 180px;
}

.swiper-button-prev:hover{
	transition: 0.4s;
	opacity: 0.5;
	width: 180px;
}

._recipeAll__btn:hover{
	border: none;
	transition: 0.4s;
	opacity: 0.5;
}

._nav_menu__close:hover{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
	transition: 0.4s;
}

._home_island__img--island1,
._home_island__img--island2,
._home_island__img--island3,
._home_island__img--island4{
    transition: .3s ease-out;
}
.swiper-button-prev:hover{
	transition: 0.4s;
	opacity: 0.5;
	width: 180px;
}

._recipeAll__btn:hover{
	border: none;
	transition: 0.4s;
	opacity: 0.5;
}

._nav_menu__close:hover{
-moz-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-o-transform:rotate(180deg);
-ms-transform:rotate(180deg);
transform:rotate(180deg);
	transition: 0.4s;
}

