._btn{
    a{
        text-decoration: none;
        background-color: $standard;
        padding: 20px 30px;
        color: #ffffff;
        border-radius: 5px;
        // margin: auto; 
        text-align: center;
    }
}