._nav{
    // background-color: #fff6eb;
    // /* 設定Header置頂 */
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    top: 0;
    padding: 50px 0 13px;
    &--white{
        background-color: transparent;
    }
    .container{
        padding: 0;
    }
    span{
        font-size: 20px;
        font-weight: bold;
    }

}
._nav__logo{
    width: auto;
    max-height: 100%;
}
._nav__menu{
    width: auto;
    max-height: 15px;
    &--white{
        line{
            stroke: #ffffff;
        }
    }
}
._nav__sns{
    &--white{
        path{
            fill: #ffffff;
        }
    }
}