._about_section{
    width: 100%;
    height: 100vh;
    position: relative;
    &--1{
        background-image: url(../img/about/bg1.svg);
        // background-image: url(../img/about/bg1@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &--2{
        background-image: url(../img/about/bg2.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &--3{
        background-color: #FFF6EB;
    }
    &--4{
        background-image: url(../img/about/bg4.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
._about_section1__main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    span{
        cursor: pointer;
        display: block;
        width: 25%;
        margin: 14% auto 0 auto;
        padding: 15px 18px;
        background-color: #D6CD25;
        font-size: 17px;
        border-radius: 50px;
        box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: 0.3);
        &:hover{
            opacity: 0.6;
            transition: 0.4s;
        }
    }
    img{
        position: absolute;
        left: 0;
        right: 0;
        top: 38%;
        bottom: 0;
        width: 87%;
        margin: 0 auto;
        pointer-events: none;
    }
}
._about_section1__title{
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 3px;
}
._about_section1__subtitle{
    font-size: 43px;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: 'Kozuka Mincho Pr6N';
}
._about_section2__main{
    position: absolute;
    width: 65%;
    height: 40%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    display: flex;
}
._about_section2__img{
    // max-width: 100%;
    position: relative;
    img{
        display: block;
        width: 110%;
        // padding: 0px 40% 0 0;
    }
    span{    
        position: absolute;
        right: -10%;
        font-size: 9.5em;
        top: 57%;
        font-style: italic;
    }
}
._about_section2__text{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 68%;
    p{
        line-height: 45px;
        letter-spacing: 3px;
        font-size: 19px;
        padding: 0 20px;
        font-family: 'Kozuka Mincho Pr6N';
    }
}
._about_section2__title{
    font-size: 3em;
    font-weight: bold;
    position: relative;
    &::before{
        left: 25%;
    }
    &::after{
        right: 25%;
    }
    &::before, &::after{
        content: "";
        width: 40px;
        height: 1px;
        background-color: #000000;
        position: absolute;
        top: 50%;
    }
}
._about__scroll{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    bottom: 10%;
    text-align: center;
    span{
        display: block;
        // cursor: pointer
    }
    svg{
        height: 35px;
    }
}
._about_section3__main{
    position: absolute;
    width: 65%;
    height: 40%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    display: flex;
}
._about_section3__text{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60%;
    margin-bottom: 5%;
    // width: 100%;
    p{
        // line-height: 37px;
        // letter-spacing: 1px;
        // font-size: 18px;
        // padding: 0 20px;
        line-height: 40px;
        letter-spacing: 3px;
        font-size: 19px;
        padding: 0 20px;
        font-family: 'Kozuka Mincho Pr6N';
    }
}
._about_section3__img{
    // max-width: 100%;
    position: relative;
    img{
        display: block;
        // width: 100%;
        // height: 100%;
        // padding: 0px 30px;
        width: 100%;
        // padding: 0px 40% 0 0;
    }
    span{
        position: absolute;
        right: -24%;
        font-size: 9.5em;
        top: 40%;
        letter-spacing: 4px;
        font-style: italic;
    }
}
._about_section3__title{
    font-size: 3em;
    font-weight: bold;
    position: relative;
    &::before{
        left: 17%;
    }
    &::after{
        right: 17%;
    }
    &::before, &::after{
        content: "";
        width: 40px;
        height: 1px;
        background-color: #000000;
        position: absolute;
        top: 50%;
    }   
}
._about_section4__main{
    text-align: center;
    span{
        font-size: 7.5em;
        font-style: italic;
        letter-spacing: 5px;
        margin-top: -70px;
    }
    .row{
        padding-top: 25%;
    }
}
._about_section4__text{
    text-align: left;
    margin-left: 30px;
    display: inline-block;
    p{
        line-height: 37px;
        letter-spacing: 2px;
        font-size: 18px;
        font-family: 'Kozuka Mincho Pr6N';
    }
}
._about_section4__title{
    position: relative;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
    &::after{
        right: -50%;
    }
    &::after{
        content: "";
        width: 35px;
        height: 1px;
        background-color: #000000;
        position: absolute;
        top: 50%;
    }   
}
._about_section4__info{
    text-align: center;
    span{
        display: block;
    }
}
._about_section4__imgBlock{
    height: 250px;
    position: relative;
    margin-bottom: 17%;
}
._about_section4__img{
    // max-width: 80%;
    height: 100%;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
._about_section4__infoTitle{
    font-size: 18px;
    letter-spacing: 1px;
    font-style: italic;
}
._about_section4__infoSub{
    font-size: 16px;
    letter-spacing: 4px;
    font-family: 'Kozuka Mincho Pr6N';

}
._about__btn--back{
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    padding: 18px 30px;
    border: 1px solid #707070;
    border-radius: 50px;
    cursor: pointer;
    &:hover{
        transition: 0.4s;
        opacity: 0.6
    }
}