._dish{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    &--1{
        background-image: url(../img/recipe-detail/bg1-1@2x.png);
    }
    &--2{
        background-image: url(../img/recipe-detail/bg2-1@2x.png);
    }
    &--3{
        background-image: url(../img/recipe-detail/bg3-1@2x.png);
    }
    &--4{
        background-image: url(../img/recipe-detail/bg4-1@2x.png);
    }
    &--5{
        background-image: url(../img/recipe-detail/bg5-1@2x.png);
    }
    &--6{
        background-image: url(../img/recipe-detail/bg6-1@2x.png);
    }
    &--7{
        background-image: url(../img/recipe-detail/bg7-1@2x.png);
    }
    &--8{
        background-image: url(../img/recipe-detail/bg8-1@2x.png);
    }
    &--9{
        background-image: url(../img/recipe-detail/bg9-1@2x.png);
    }
    &--10{
        background-image: url(../img/recipe-detail/bg10-1@2x.png);
    }
    &--11{
        background-image: url(../img/recipe-detail/bg11-1@2x.png);
    }
    &--12{
        background-image: url(../img/recipe-detail/bg12-1@2x.png);
    }
}
._dish_ingredient__title{
    position: absolute;
    left: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    height: 30%;
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 18px;
        font-weight: 300;
    }
    &--ingredient{
        opacity: 0;
        .js_ingredient &{
            opacity: 1;
        }
    }
    &--recipe{
        opacity: 0;
        .js_recipe &{
            opacity: 1;
        }
    }
}
._dish__back{
    position: absolute;
    left: 10%;
    bottom: 15%;
    margin: auto;
    width: 30%;
    color: #ffffff;
    &:hover{
        color: #ffffff;
    }
    img{
        width: 20px;
    }
    span{
        vertical-align: middle;
    }
}
._dish__tab{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    margin: auto;
    width: 30%;
    text-align: center;
}
._dish__tabBtn{
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
    &--ingredient{
        .js_ingredient &{
            border-bottom: 1px solid #ffffff;
        }
    }
    &--recipe{
        .js_recipe &{
            border-bottom: 1px solid #ffffff;
        }
    }
    
}
._dish_ingredient__content{
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translate(-6%, -50%);
    font-weight: 300;
    h3{
        font-size: 16px;
        display: block;
        // position: absolute;
    }
    p{
        font-size: 12px;
        display: block;
        // position: absolute;
    }
    &--ingredient{
        // padding-right: 5%;
        opacity: 0;
        .js_ingredient &{
            opacity: 1;
        }
    }
    &--recipe{
        opacity: 0;
        .js_recipe &{
            opacity: 1;
        }
    }
}