._home{
    width: 100vw;
    height: 100vh;
    background-color: #FFF6EB;
}
._home_island{
    height: 100vh;
}
._home_island__main{
    // position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
._home_island__img{
    // width: 75%;
    text-align: center;
    position: relative;
    // height: 65%;
    width: 1200px;
    height: 500px;
    margin-top: 151px;
    transform: scale(1.8);
    &--island{
        margin: auto;
        max-width: 1200px;
        // .active &{
        //     opacity: 0.5;
        // }
        
    }
    &--cloud{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: 1230px;
        margin: auto;
        z-index: 5;
        pointer-events: none;
    }
    &--island1{
        position: absolute;
        width: 564px;
        height: 215px;
        left: 4.5%;
        bottom: 12%;
        z-index: 1;
        background-image: url(../img/home/island1_opacity.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &.active{
            background-image: url(../img/home/island1.svg)
        }
    }
    &--island2{
        position: absolute;
        left: 6%;
        top: -6.5%;
        width: 536px;
        height: 300px;
        background-image: url(../img/home/island2_opacity.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &.active{
            background-image: url(../img/home/island2.svg)
        }
    }
    &--island3{
        position: absolute;
        right: 11.5%;
        width: 464px;
        height: 300px;
        top: -8%;
        background-image: url(../img/home/island3_opacity.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &.active{
            background-image: url(../img/home/island3.svg)
        }
    }
    &--island4{
        position: absolute;
        width: 497px;
        height: 255px;
        right: 8%;
        bottom: 14%;
        z-index: 2;
        background-image: url(../img/home/island4_opacity.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &.active{
            background-image: url(../img/home/island4.svg)
        }
    }
    &--middle{
        position: absolute;
        max-width: 175px;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        z-index: 99;
    }
}
._home_island__text{
    display: block;
    text-align: center;
    width: 15%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 12%;
    letter-spacing: .5px;
    font-size: 18px;
    &::before{
        left: 0;
    }
    &::after{
        right: 0;
    }
    &::before, &::after{
        content: "";
        width: 19px;
        height: 1px;
        background-color: #000000;
        position: absolute;
        top: 50%;
    }
}
._home__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 4em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    &.active{
        opacity: 1;
        transition: opacity 0.5s ease-out;
    }
}