._island{
    .swiper-container {
        position: unset !important;
    }
    .swiper-slide 
    {
        opacity: 0.7;
    }
    .swiper-pagination{
        bottom: 50% !important;
        z-index: 99 !important;
        left: 70vh !important;
        transform: rotate(90deg) !important;
    }

}
// intro
._island_intro{
    // position: relative;
    height: 100vh;
    overflow: hidden;
}
._island_intro__circle{
    position: relative;
    background-color: #006781;
    width: 200vh;
    height: 200vh;
    border-radius: 999rem;
    left: -120vh;
    top: 50%;
    margin-top: -100vh;
    z-index: 99;
    box-shadow: 5px 3.4px 6px rgba(0, 0, 0, 0.4);
    transition: background-color 1s ease-in-out;

    ._island_intro.active &{
        left: -200vh;
    }
    // &.hide{
    //     display: none;
    // }
}
._island_intro__seasonSection{
    transition: all 1s ease-in-out;
    &--1{
        opacity: 0;
    }
    &--2{
        opacity: 0;
    }
    &--3{
        opacity: 0;
    }
    &.active{
        opacity: 1;
    }
}
._island_intro__row{
    &--x{
        position: absolute;
        top: 51px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 100%;
        max-height: 40%;
        display: flex;
        justify-content: space-between;
        transition: all 1s ease-in-out;
        opacity: 0;
        &.active{
            opacity: 1;
        }
    }
    &--y{
        position: absolute;
        top: 51px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 100%;
        max-height: 40%;
        display: flex;
        justify-content: space-between;
        transition: all 1s ease-in-out;
        transform: rotate(-90deg);
        opacity: 0;
        &.active{
            opacity: 1;
        }
    }
}
._island_intro__main{
    position: relative;
    height: 95%;
    // height: 80%;
    display: flex;
    // margin: 0 10%;
    margin: auto 8%;
    width: 30%;
}
._island_intro__main--reverse{
    position: relative;
    height: 95%;
    // height: 80%;
    display: flex;
    // margin: 0 10%;
    margin: auto 8%;
    width: 30%;
    transform: rotate(-180deg);
}
._island_intro__island{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
}
._island_intro__month{
    position: absolute;
    bottom: 28px;
    right: 55px;
    
    color: #fff;
    font-weight: bold;    
    p{
        display: inline-block;
        margin: 0 8px;
        font-size: 20px;
        letter-spacing: 2px;
    }
    span{
        display: inline-block;
        font-size: 78px;
    }
}
._island_intro__text{
    position: absolute;
    bottom: 8%;
    left: 16%;
    margin: auto;
    color: #fff;
    font-size: 17px;
    text-align: center;
    z-index: 999;
}



._island_intro__bgImg{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in-out;
    img{
        height: 100%;
    }
    
    &.active{
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}
._island_intro__btn{
    position: absolute;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 25%;
    margin: auto;
    z-index: 99;
    cursor: pointer;
    // transition: transform .3s;
    transition: opacity 1s;
    &:hover{
        // transform: scale(1.1);
        ._island_intro__view{
            background-color: rgba($color: #ffffff, $alpha: 0.9) !important;
            color: #000000;
        }
    }
    ._island_intro.active &{
        opacity: 0;
    }
}
._island_intro__view{
    display: block;
    background-color: #006781;
    border-radius: 30px;
    padding: 10px 26px;
    color: #fff;
    font-size: 14px;
    box-shadow: 3.4px 3.4px 3px rgba($color: #000000, $alpha: 0.4);
    transition: all .3s ease-in-out;
}
._island_intro__bg{
    &--1{
        background-image: url(../img/env1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--2{
        background-image: url(../img/env2.svg);
        background-repeat: no-repeat;
        // background-position: center;
        background-position: left;
        background-size: cover;
    }
    &--3{
        background-image: url(../img/env3.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--4{
        background-image: url(../img/env4.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--5{
        background-image: url(../img/env5.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--6{
        background-image: url(../img/env6.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--7{
        background-image: url(../img/env7.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--8{
        background-image: url(../img/env8.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--9{
        background-image: url(../img/env9.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--10{
        background-image: url(../img/env10.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--11{
        background-image: url(../img/env11.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--12{
        background-image: url(../img/env12.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

//detail
#scene{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}
._island_detail__bg{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    transition: all 1.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    &.active{
        opacity: 1;
        visibility: visible;
    }
}
._island_detail__anim{
    
    svg{
        width: auto !important;
        height: 100vh !important;
        transform-origin: 50% 50% !important;
        overflow: unset;
        transition: translate 0.3s ease-in-out;
    }
    
}
._island_crop__shadow{
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #484848;
    opacity: 0.4;
    display: none;
    .popup &{
        display: block;
    }
}
._island_crop{
    z-index: 1000;
    position: absolute;
    width: 48vw;
    height: 100%;
    background-color: #FFEDD5;
    display: none;
    box-shadow: 4px 0 5px rgba($color: #000000, $alpha: 0.4);
    &.active{
        display: block;
    }
}
._island_crop__content{
    width: 42%;
}
._island_crop__close{
    z-index: 99;
    width: 60px;
    height: 50px;
    display: block;
    position: absolute;
    top: 70px;
    right: calc(100% / 24);
    cursor: pointer;
    &:hover{
        ._island_crop__close-icon{
            &::before,
            &::after{
                background-color: #AE7A39;
            }
        }
    }
}
._island_crop__close-icon{
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin: auto;
    &::before,
    &::after {
        content: '';
        width: 20px;
        height: 1px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: #000000;
        pointer-events: none;
        // transition: all .3s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}
._island_crop__close-text{
    position: absolute;
    bottom: 0;
}
._island_crop__window{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

}
._island_crop__main{
    align-self: center;
    width: 50%;
    img{
        display: block;
        max-width: 335px;
    }
}
._island_crop__title{
    margin-top: 25px;
    h1{
        font-family: 'Kozuka Mincho Pr6N';
        font-size: 32px;
        display: inline-block;
        letter-spacing: 5px;
    }
    h2{
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 8px;
        letter-spacing: 1px;
    }
    span{
        margin-top: 10px;
        font-size: 14px;
        display: block;
        font-family: 'Kozuka Mincho Pr6N';
        letter-spacing: 2px;
    }
}
._island_crop__info{
    display: flex;
}
._island_crop__text{
    em{
        font-size: 24px;
        font-weight: 600;
        margin-left: 7px;
        border-bottom: 1px solid;
    }
}
._island_crop__info{
    div{
        margin-bottom: 2rem;
    }
    img{
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
    p{
        font-size: 13px;
        font-family: 'Kozuka Mincho Pr6N';
        text-align: justify;
        letter-spacing: 1px;
        line-height: 20px;
    }
}
._island_crop__infoTitle{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
    &--tw{
        font-size: 14px;
        font-family: 'Kozuka Mincho Pr6N';
        letter-spacing: 2px;
        margin-right: 4px;
    }
}
#cabbage{
    cursor: pointer;
    position: relative;
    filter: opacity(0.5);
    // &:hover{
        // g{
        //     path{
        //         // fill: hsl(100%, 100%, 50%);
        //         // filter:opacity(.8);
        //         // stroke-width="7";
        //         // stroke: red;
                
                
        //     }
        // }
        
        
    // }
}
