._island-intro{
    // position: relative;
    height: 100vh;
    overflow: hidden;
    ._island-intro__mainBg{
        position: relative;
        background-color: #4B8D32;
        width: 128vw;
        height: 150vh;
        border-radius: 999rem;
        left: -85%;
        top: 125vh;
        margin-top: -150vh;
        z-index: 99;
        box-shadow: 5px 5px 20px #444444;
    }
    ._island-intro__main{
    //    max-height: 50%;
        max-width: 335px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10%;
        margin: auto;
        padding-top: 51px;
    //    padding: 100px 50px 30px 0;
        
    }
    ._island-intro__bgImg{
        width: 100vw;
        height: 100%;
        // overflow: hidden;
        position: absolute;
        top: 0;

        img{
            height: 100%;
        }
    }
    ._island-intro__bg{
        &--1{
            background-image: url(../img/env1.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &--2{
            background-image: url(../img/env2.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &--3{
            background-image: url(../img/env3.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &--4{
            background-image: url(../img/env4.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &--5{
            background-image: url(../img/env5.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &--6{
            background-image: url(../img/env6.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &--7{
            background-image: url(../img/env7.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &--8{
            background-image: url(../img/env8.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &--9{
            background-image: url(../img/env9.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}