._recipe{
    .swiper-container{
        height: 100vh;
    }
    .swiper-slide{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &--1{
            background-image: url(../img/recipe/recipe1@2x.png);
        }
        &--2{
            background-image: url(../img/recipe/recipe2@2x.png);
        }
        &--3{
            background-image: url(../img/recipe/recipe3@2x.png);
        }
        &--4{
            background-image: url(../img/recipe/recipe4@2x.png);
        }
        &--5{
            background-image: url(../img/recipe/recipe5@2x.png);
        }
        &--6{
            background-image: url(../img/recipe/recipe6@2x.png);
        }
        &--7{
            background-image: url(../img/recipe/recipe7@2x.png);
        }
        &--8{
            background-image: url(../img/recipe/recipe8@2x.png);
        }
        &--9{
            background-image: url(../img/recipe/recipe9@2x.png);
        }
        &--10{
            background-image: url(../img/recipe/recipe10@2x.png);
        }
        &--11{
            background-image: url(../img/recipe/recipe11@2x.png);
        }
        &--12{
            background-image: url(../img/recipe/recipe12@2x.png);
        }

    }
    .swiper-pagination-bullets{
        bottom: 10%;
    }
    .swiper-pagination-bullet{
        background: transparent;
        border: 1px solid #ffffff;
        opacity: 1;
    }
}
._recipe__main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 80%;
}
._recipe__title{
    font-size: 9em;
    color: #ffffff;
    margin-bottom: 45px;
    font-weight: bold;
    letter-spacing: 4px;
}
._recipe__btn{
    padding: 13px 38px;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    border-radius: 50px;

    img{
        width: 10px;
        height: 10px;
        vertical-align: middle;
    }
    span{
        font-size: 15px;
        color: #000000;
        vertical-align: middle;
        font-weight: 600;
        letter-spacing: 2px;
        margin-left: 5px;
    }
    &:hover{
        border: none;
        transition: 0.4s;
        opacity: 0.5;
    }
}